@{
    ViewBag.Title = "Контакты";
}


<style>
    .sidebar-nav {
        padding: 9px 0;
    }

    .dropdown-menu .sub-menu {
        left: 100%;
        position: absolute;
        top: 0;
        visibility: hidden;
        margin-top: -1px;
    }

    .dropdown-menu li:hover .sub-menu {
        visibility: visible;
    }

    .dropdown:hover .dropdown-menu {
        display: inherit;
    }

    .nav-tabs .dropdown-menu,
    .nav-pills .dropdown-menu,
    .navbar .dropdown-menu {
        margin-top: 0;
    }

    .navbar .sub-menu:before {
        border-bottom: 7px solid transparent;
        border-left: none;
        border-right: 7px solid rgba(0, 0, 0, 0.2);
        border-top: 7px solid transparent;
        left: -7px;
        top: 10px;
    }

    .navbar .sub-menu:after {
        border-top: 6px solid transparent;
        border-left: none;
        border-right: 6px solid #fff;
        border-bottom: 6px solid transparent;
        left: 10px;
        top: 11px;
        left: -6px;
    }
</style>

<style>
     .material-icons {
         font-weight: normal;
         font-style: normal;
         font-size: 24px;
         line-height: 1;
         letter-spacing: normal;
         text-transform: none;
         display: inline-block;
         white-space: nowrap;
         word-wrap: normal;
         direction: ltr;
         -webkit-font-feature-settings: 'liga';
         -webkit-font-smoothing: antialiased;
         padding-right: 10px;
     }
     /*.contact-icons i {
         margin-right: 20px;
     }*/
     .overflow-hidden {
         overflow:hidden;
     }

     .left-con {
         float: left;
     }

     @@media (max-width:768px) {
         .left-con {
             float: none;
         }
     }
 </style>

<div id="home" class="banner about-banner page-breadcrumb">
    <div class="banner-info">
        <!--navigation-->
        <div class="navbar navbar-fixed-top top-nav">
            <nav>
                <div class="container">
                    <div class="navbar-header logo">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a href="@Url.Action("Index","Home")"><img src="~/Image/11112.png" /></a></h1>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div style="padding-right: 0px;" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-right">

                            <li style="margin-right: 0px; margin-left: 0px; ">
                                <a href="@Url.Action("Index","Home")" class="link-kumya"><span data-letters="Главная">Главная</span></a>
                            </li>

                            <li style="margin-right: 0px; margin-left: 0px;" class="dropdown">
                                <a data-toggle="dropdown" class="link-kumya dropdown-toggle"><span data-letters="О нас">О нас<b class="caret"></b></span></a>
                                <ul style="border-radius: 0px;" class="dropdown-menu" id="menu1">
                                    <li><a href="@Url.Action("About","About")">О нас</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("Licenses","About")">Лицензии</a></li>
                                </ul>
                            </li>

                            <li style="margin-right: 0px; margin-left: 0px;" class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle link-kumya"><span data-letters="Услуги">Услуги<b class="caret"></b></span></a>
                                <ul style="border-radius: 0px;" class="dropdown-menu" id="menu2">
                                    <li>
                                        <a href="@Url.Action("Geodetic","Services")">Геодезические работы</a>
                                        <ul style="border-radius: 0px; width: 222px;" class="dropdown-menu sub-menu">
                                            <li><a href="@Url.Action("CaptureM","Geodetics")">Съемка М 1:500 и др.</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("ExecutiveShooting","Geodetics")">Исполнительные съемки</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("GeideticsWorks","Geodetics")">Геодезические работы по инвентаризации и отводу земельных участков юр. и физ. лиц</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("TransferToNature","Geodetics")">Вынос в натуру границ земельных участков</a></li>
                                        </ul>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="@Url.Action("LandManagement","Services")">Землеустроительные работы</a>
                                        <ul style="border-radius: 0px; width: 222px;" class="dropdown-menu sub-menu">
                                            <li><a href="@Url.Action("SectionUnion","LandManagements")">Раздел / Объединение земельных участков</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("AllocationLand", "LandManagements")">Разработка проекта отвода земельного участка</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("PreparationDocumentationLandPlot","LandManagements")">Подготовка документации для оформления договора аренды на земельный участок</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("PreparationDocumentationLandPrivatization","LandManagements")">Подготовка технической документации для приватизации земельного участкав</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("AppointmenCadastralNumber","LandManagements")">Присвоение кадастрового номера</a></li>
                                        </ul>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="@Url.Action("Evaluation","Services")">Оценочные работы</a>
                                        <ul style="border-radius: 0px; width: 222px;" class="dropdown-menu sub-menu">
                                            <li><a href="@Url.Action("EstimationLand","Evaluations")">Оценка земельных участков</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("PropertyValuation","Evaluations")">Оценка недвижимости</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("EvaluationEquipment","Evaluations")">Оценка оборудования</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("EvaluationCars","Evaluations")">Оценка автомобилей</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li style="margin-right: 0px; margin-left: 0px;" class="dropdown">
                                <a data-toggle="dropdown" class="link-kumya dropdown-toggle"><span data-letters="Новости">Новости<b class="caret"></b></span></a>
                                <ul style="border-radius: 0px;" class="dropdown-menu" id="menu3">
                                    <li><a href="@Url.Action("New", "New")">Новости</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("Articles", "New")">Статьи</a></li>
                                </ul>
                            </li>

                            <li style="margin-right: 0px; margin-left: 0px;" class="dropdown">
                                <a data-toggle="dropdown" class="link-kumya dropdown-toggle"><span data-letters="Документы">Документы<b class="caret"></b></span></a>
                                <ul style="border-radius: 0px;" class="dropdown-menu" id="menu4">
                                    <li><a href=@Url.Action("Codex", "Documents")>Кодексы</a></li>
                                    <li class="divider"></li>
                                    <li><a href=@Url.Action("Lex", "Documents")>Законы</a></li>
                                    <li class="divider"></li>
                                    <li><a href=@Url.Action("Resolutions", "Documents")>Постановления Кабинета Министров</a></li>
                                </ul>
                            </li>

                            <li style="margin-right: 0px; margin-left: 0px;">
                                <a href="@Url.Action("Contact","Home")" class="link-kumya active">
                                    <span data-letters="Контакты">Контакты</span>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </nav>
        </div>

        <!--//navigation-->
        <div class="banner-text">
            <h2 style="font-family: 'Roboto Condensed', sans-serif;">Контакты</h2>
        </div>
    </div>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1322.642805759444!2d35.049062658342315!3d48.47023499481288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDjCsDI4JzEyLjkiTiAzNcKwMDMnMDAuNiJF!5e0!3m2!1sru!2sus!4v1503167271656" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
<div class="container body-content" style=" margin-bottom: 80px; margin-top: 75px; ">
    <div class="row">
        <div class="col-sm-4">
            <div style="padding-top: 20px;" class="contact-icons">
                <div class="material-icons left-con glyphicon glyphicon-earphone"></div>
                <div class="overflow-hidden">
                    <h4 style="font-size: 20px;">Связаться</h4>
                    <p>Телефоны:<br> +38 (056) 726-52-85<br>+38 (056) 726-56-63<br> +38 (095) 795-22-70</p>
                    <p><a href="#">biznes.expert.01@gmail.com</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div style="padding-top: 20px;"  class="contact-icons">
                <div class="material-icons left-con glyphicon glyphicon-map-marker"></div>
                <div class="overflow-hidden">
                    <h4 style="font-size: 20px;">Адрес</h4>
                    <p>г. Днепр,<br>ул. Сичеславская Набережная<br>29, оф. 307</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div style="padding-top: 20px;"  class="contact-icons">
                <div class="material-icons left-con  glyphicon glyphicon-globe"></div>
                <div class="overflow-hidden">
                    <h4 style="font-size: 20px;">Социальные сети</h4>
                    <p><a target="_blank" href="https://vk.com/biznes_expert"><img style="width: 45px;" src="~/Image/Social/vk (4).png" /></a></p>
                    <p><a target="_blank" href="https://www.facebook.com/biz.expert"><img style="width: 45px;" src="~/Image/Social/facebook-logo-button.png" /></a></p>
                </div>
            </div>
        </div>
    </div>
</div>