
@{
    ViewBag.Title = "Оценка автомобилей";
}

<style>
    .sidebar-nav {
        padding: 9px 0;
    }

    .dropdown-menu .sub-menu {
        left: 100%;
        position: absolute;
        top: 0;
        visibility: hidden;
        margin-top: -1px;
    }

    .dropdown-menu li:hover .sub-menu {
        visibility: visible;
    }

    .dropdown:hover .dropdown-menu {
        display: inherit;
    }

    .nav-tabs .dropdown-menu,
    .nav-pills .dropdown-menu,
    .navbar .dropdown-menu {
        margin-top: 0;
    }

    .navbar .sub-menu:before {
        border-bottom: 7px solid transparent;
        border-left: none;
        border-right: 7px solid rgba(0, 0, 0, 0.2);
        border-top: 7px solid transparent;
        left: -7px;
        top: 10px;
    }

    .navbar .sub-menu:after {
        border-top: 6px solid transparent;
        border-left: none;
        border-right: 6px solid #fff;
        border-bottom: 6px solid transparent;
        left: 10px;
        top: 11px;
        left: -6px;
    }
</style>


<div id="home" class="banner about-banner page-breadcrumb">
    <div class="banner-info">
        <!--navigation-->
        <div class="navbar navbar-fixed-top top-nav">
            <nav>
                <div class="container">
                    <div class="navbar-header logo">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a href="@Url.Action("Index","Home")"><img src="~/Image/11112.png" /></a></h1>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div style="padding-right: 0px;" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-right">

                            <li style="margin-right: 0px; margin-left: 0px; ">
                                <a href="@Url.Action("Index","Home")" class="link-kumya"><span data-letters="Главная">Главная</span></a>
                            </li>

                            <li style="margin-right: 0px; margin-left: 0px;" class="dropdown">
                                <a data-toggle="dropdown" class="link-kumya dropdown-toggle"><span data-letters="О нас">О нас<b class="caret"></b></span></a>
                                <ul style="border-radius: 0px;" class="dropdown-menu" id="menu1">
                                    <li><a href="@Url.Action("About","About")">О нас</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("Licenses","About")">Лицензии</a></li>
                                </ul>
                            </li>

                            <li style="margin-right: 0px; margin-left: 0px;" class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle link-kumya active"><span data-letters="Услуги">Услуги<b class="caret"></b></span></a>
                                <ul style="border-radius: 0px;" class="dropdown-menu" id="menu2">
                                    <li>
                                        <a href="@Url.Action("Geodetic","Services")">Геодезические работы</a>
                                        <ul style="border-radius: 0px; width: 222px;" class="dropdown-menu sub-menu">
                                            <li><a href="@Url.Action("CaptureM","Geodetics")">Съемка М 1:500 и др.</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("ExecutiveShooting","Geodetics")">Исполнительные съемки</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("GeideticsWorks","Geodetics")">Геодезические работы по инвентаризации и отводу земельных участков юр. и физ. лиц</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("TransferToNature","Geodetics")">Вынос в натуру границ земельных участков</a></li>
                                        </ul>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="@Url.Action("LandManagement","Services")">Землеустроительные работы</a>
                                        <ul style="border-radius: 0px; width: 222px;" class="dropdown-menu sub-menu">
                                            <li><a href="@Url.Action("SectionUnion","LandManagements")">Раздел / Объединение земельных участков</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("AllocationLand", "LandManagements")">Разработка проекта отвода земельного участка</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("PreparationDocumentationLandPlot","LandManagements")">Подготовка документации для оформления договора аренды на земельный участок</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("PreparationDocumentationLandPrivatization","LandManagements")">Подготовка технической документации для приватизации земельного участкав</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("AppointmenCadastralNumber","LandManagements")">Присвоение кадастрового номера</a></li>
                                        </ul>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="@Url.Action("Evaluation","Services")">Оценочные работы</a>
                                        <ul style="border-radius: 0px; width: 222px;" class="dropdown-menu sub-menu">
                                            <li><a href="@Url.Action("EstimationLand","Evaluations")">Оценка земельных участков</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("PropertyValuation","Evaluations")">Оценка недвижимости</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("EvaluationEquipment","Evaluations")">Оценка оборудования</a></li>
                                            <li class="divider"></li>
                                            <li><a href="@Url.Action("EvaluationCars","Evaluations")">Оценка автомобилей</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li style="margin-right: 0px; margin-left: 0px;" class="dropdown">
                                <a data-toggle="dropdown" class="link-kumya dropdown-toggle"><span data-letters="Новости">Новости<b class="caret"></b></span></a>
                                <ul style="border-radius: 0px;" class="dropdown-menu" id="menu3">
                                    <li><a href="@Url.Action("New", "New")">Новости</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("Articles", "New")">Статьи</a></li>
                                </ul>
                            </li>

                            <li style="margin-right: 0px; margin-left: 0px;" class="dropdown">
                                <a data-toggle="dropdown" class="link-kumya dropdown-toggle"><span data-letters="Документы">Документы<b class="caret"></b></span></a>
                                <ul style="border-radius: 0px;" class="dropdown-menu" id="menu4">
                                    <li><a href=@Url.Action("Codex", "Documents")>Кодексы</a></li>
                                    <li class="divider"></li>
                                    <li><a href=@Url.Action("Lex", "Documents")>Законы</a></li>
                                    <li class="divider"></li>
                                    <li><a href=@Url.Action("Resolutions", "Documents")>Постановления Кабинета Министров</a></li>
                                </ul>
                            </li>

                            <li style="margin-right: 0px; margin-left: 0px;">
                                <a href="@Url.Action("Contact","Home")" class="link-kumya">
                                    <span data-letters="Контакты">Контакты</span>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </nav>
        </div>

        <!--//navigation-->
        <div class="banner-text">
            <h2 style="font-family: 'Roboto Condensed', sans-serif;">Услуги</h2>
        </div>
    </div>
</div>

<div style="margin-bottom: 0px;" class="container body-content">
    <div class="row">
        <div class="col-sm-12" style="margin-top: 100px;margin-bottom: 0px;">
            <p class="textLage">Оценка автомобилей</p>
            <br />
            <br />
        </div>
    </div>
</div>


<div style="padding-top: 0px; padding-bottom: 50px;" class="welcome">
    <div style="padding-top: 0px;" class="container body-content">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <img style="width: 100%;" src="~/Image/Evaluation/ocenka-avtomobilya1-e1481174514431-min.jpg">
            </div>
            <div class="clearfix">
            </div>
            <div class="col-sm-12" style="padding-top: 25px; padding-bottom: 25px; ">
                <p style="font-family: 'Roboto Condensed', sans-serif; font-size: 18px;">
                    Каждый владелец автотранспортного средства – автомобиля рано или поздно сталкивается с необходимостью проведения экспертной оценки. 
                    Стандартной целью оценки автомобиля может быть: осуществление сделки купли-продажи; расчет залоговой стоимости для получения кредита; 
                    внесение в уставный фонд предприятий; сдача в аренду; раздел имущества; вступление в права наследования; дарение; определение ущерба вследствие 
                    действия третьих лиц (ДТП) или стихийного бедствия, пожара, наводнения и так далее.<br /><br />

                    <span style="font-weight: bold;">На рыночную стоимость автомобиля существенно влияют такие факторы:</span>
                </p>
                <ul style="list-style-type: circle; padding-left: 35px;">
                    <li><p class="textDisProduct"> изменение цены на аналогичный новый автомобиль;</li>
                    <li><p class="textDisProduct"> изменение таможенных ставок и других обязательных платежей;</li>
                    <li><p class="textDisProduct"> год выпуска и пробег;</li>
                    <li><p class="textDisProduct"> техническое состояние и комплектация;</li>
                    <li><p class="textDisProduct"> условия эксплуатации и хранения автомобиля.</li>
                </ul>
                <p style="font-family: 'Roboto Condensed', sans-serif; font-size: 18px;">
                    Существуют также и другие характеристики, которые имеют существенное значение при определении рыночной стоимости автомобиля, потому специалисты нашей компании, 
                    приступая к работе, выясняют все нюансы, которые влияют на результат – рыночную стоимость автомобиля.<br /><br />

                    <span style="font-weight: bold;">Для заказа экспертной оценки автомобиля необходимы копии следующих документов:</span>
                </p>
                <ul style="list-style-type: circle; padding-left: 35px;">
                    <li><p class="textDisProduct"> свидетельство о государственной регистрации (технический паспорт);</p></li>
                    <li><p class="textDisProduct"> пробег авто на дату оценки;</li>
                    <li><p class="textDisProduct"> сведения о ремонтах (замена узлов, агрегатов, усовершенствование);</li>
                    <li><p class="textDisProduct"> паспорт и идентификационный  код собственника оцениваемого имущества – физического лица на дату проведения оценки или свидетельство о государственной регистрации юридического лица.</li>
                </ul>
                <p style="font-family: 'Roboto Condensed', sans-serif; font-size: 18px;">
                    Данный перечень носит предварительный характер и может быть сокращен или расширен после детального ознакомления оценщика с заданием на оценку.
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>